.body {
  font-family: "Montserrat";
   
}

h1 , h2 , h3 {
  font-family: "Montserrat";
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
  font-size: 1.5;
}


#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}


/* navigation bar  */

.navbar {
  padding-bottom: 4 rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Donwnload n=btn  */
.download-btn {
  margin: 5% 3% 0 0;
}

/* title-image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  left: 30%;
}

/* feature-container */
#features {
  text-align: center;
  /* position: relative;
  z-index: 1;
  bottom: 120px; */
  background-color: #fff;
}

.features-item {
  text-align: center;
}

.features-item i {
  font-size: 2.5rem;
  color: #ef8172;
  padding: 5%;
}

.features-item i:hover {
  color: #ff4c68;
}

.features-item p {
  color: #8f8f8f;
  padding: 0 5% 5%;
}

/* testimonials */

#testimonials {
  text-align: center;
  background: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  text-align: center;
  background: #ef8172;
  padding-bottom: 7%;
}

.press-logo {
  width: 15%;
  margin: 20px;
}



/* pricing */
#pricing{
  text-align: center;
}


.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 986px) {
  .title-image {
    transform: rotate(0);
  }
}

#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

.cta_heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#footer {
  background-color: #fff;
  text-align: center;
 
}

#footer i {
  font-size: 15px;
  margin: 0 2% 2% 0;
}

#footer p {
  font-size: 20px;
}
